.container {
  padding: 30px;
  font-family: Arial, sans-serif;
  color: #333;
}

.backLink {
  font-size: 14px;
  color: #555;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.category {
  background: #e6f4ff;
  color: #0a4b78;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 2%;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
  line-height: 1.4;
  /* text-align: center; */
  color: #000;
}

.meta {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
  /* text-align: center; */
}

.contentWrapper {
  display: flex;
  gap: 30px;
}

.sidebar {
  flex: 1;
  max-width: 280px;
  background: #ebe9e9;
  line-height: 2;
  padding: 15px;
  border-radius: 10px;
  height: fit-content;
}

.sidebar h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: disc;
  padding-left: 12px;
  margin: 0;
}

.sidebar li {
  font-size: 14px;
  margin: 6px 0;
  color: #444;
}

.mainContent {
  flex: 3;
}

.mainContent h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subHeading {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #444;
}

.mainContent p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.list {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.listItem {
  margin-bottom: 8px;
  font-size: 15px;
}

.imageWrapper {
  margin: 20px 0;
  text-align: center;
}

.image {
  border-radius: 10px;
  width: 80%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

.closing {
  margin-top: 30px;
  font-weight: 500;
  /* text-align: center; */
  color: #000;
}

.components {
  font-weight: bold;
  color: #000;
}

@media (max-width: 992px) {
  .contentWrapper {
    flex-direction: column;
  }

  .sidebar {
    max-width: 100%;
    margin-bottom: 20px;
  }

    .image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 22px;
  }

  .sidebar h3 {
    font-size: 14px;
  }

    .image {
    width: 100%;
    height: auto;
  }

  .mainContent p,
  .mainContent li {
    font-size: 14px;
  }
}
